.decks {
  width:100%;
}

.view-deck {
  width:60%;
}

.text-box {
  font-size: 150%;
}

.create {
  font-size:180%;
  width:fit-content;
  align-self: center;
  background: transparent;
  border: none;
  cursor:pointer;
  color:  rgb(0, 176, 91);}

.create:hover {
  color: rgb(0, 0, 0);}

.deck-submit {
  display:flex;
  flex-direction: row;
  width:15%;
}