.selection {
  background-color:rgb(79, 79, 79);
  text-align: center;
  height:100%
}

.centered-container {
  display:flex;
  justify-content: center;
}

.study-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.study-button {
  width: 300px;
  height: 150px;
  cursor: pointer;
  background-color: black;
  border: none;
  color: rgb(100, 191, 248);
  font-size: 18px;
}

.study-button:hover {
  color:lightblue;
  background-color: gray;
}