.selection {
  text-align: center;
}

.study-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.study-button {
  width: 25vw;
  height: 25vh;
  cursor: pointer;
  background-color:  RGB(55, 71, 79);
  border: none;
  color: rgb(255, 128, 0);
  font-size: 180%;
}

.study-button:hover {
  color:rgb(255, 179, 108);
  background-color: gray;
}