.selection {
  text-align: center;
}

.study-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.study-button {
  width: 25vw;
  height: 25vh;
  cursor: pointer;
  background-color:  rgb(255, 255, 255);
  border: none;
  color:  rgb(0, 218, 113);
  font-size: 180%;
}

.study-button:hover {
  color:rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
}