.option {
  cursor:pointer;
  border: none;
  background-color: transparent;
  color: rgb(0, 218, 113);
  font-size: 200%;
  max-width: 17vw;
}

.option:hover {
  color:rgb(0, 0, 0);
}

.matching-table-details {
  font-size: 200%;
  background-color: gray;
  color:  rgb(0, 176, 91);
}

.matching-table-header {
  width:15vw;
  font-size: 200%;
  background-color: black;
  color:  rgb(0, 176, 91);
}

.matching-table {
  display:flex;
  flex-direction: column;
  padding-bottom: 0.5%;
  background-color: white;
  position: fixed;
  transform: translate(-13vw, 5vw)
}

.column-container {
  display:flex;
  justify-content: space-between;
  width:100%;
  padding-left: 5%;
  padding-right: 3%;
}

.user {
  position: fixed;
  transform: translate(-2vw, 14vw);
}