
.table-details {
  font-size: 180%;
  background-color:  white;
  color: rgb(0, 218, 113);
}

.table-row {
  width:33%;
  font-size: 200%;
  background-color:  white;
  color: rgb(0, 218, 113);
}

.settings {
  display:flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(0, 218, 113);
}

.settings-button {
  font-size:180%;
  width:fit-content;
  align-self: center;
  background: transparent;
  border: none;
  cursor:pointer;
  color: rgb(0, 218, 113);
}