.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  overflow: visible;
  padding-bottom: 20px;
}

.decks {
  padding-bottom: 20px;
  width: 50vw;
  overflow: visible;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cards {
  padding-bottom: 20px;
  width: 50vw;
  overflow: visible;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}