.App {
  text-align: center;
  background-color:RGB(220, 220, 220);
  color: rgb(255, 128, 0);
  height: 100vh
}

.centered-container {
  display:flex;
  justify-content: center;
}

.edit {
  width:50vw;
  font-size: 180%;
}