.App {
  text-align: center;
  background-color:rgb(41, 41, 41);
  color:  rgb(0, 218, 113);
  height: 100vh
}

.centered-container {
  display:flex;
  justify-content: center;
}

.edit {
  width:50vw;
  font-size: 180%;
}